<title>Changing Letters</title>
  <h1>Changing Letters</h1>
    

  <br>In the first and second form, enter a list of integers seperated by a newline character.
  In the third form, enter a list of strings that you want to modify.
  In the fourth and fifth form enter exactly one integer.
  First integer from the fourth form will determine the first letter in the strings to be changed.
  Second integer from the fifth form will determine the second letter in the strings to be changed.
  After determining the which letters will be changed, program will change them with the character from ASCII that corresponds
  to the averages of integer lists.</br>
  <br></br>
  <br></br>

   Result is {{result}}
  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <textarea name="input5" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

  
