<title>My First Web Application</title>
  <h1>Hello, World!</h1>
    

  <br>In the first and second form, enter a list of integers seperated by a newline character.</br>
  <br>In the third form, enter a list of strings that you want to modify.</br>
  <br>In the fourth and fifth enter exactly one integer.</br>
  <br>First integer will choose the first letter in the strings to be changed.</br>
  <br>Second integer will choose the second letter in the strings to be changed.</br>
  <br>After determining the which letter will be changed, change them with the character from ASCII that corresponds</br>
  <br>to the averages of integer lists.</br>
  <br></br> 

   Result is {{result}}
  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <textarea name="input5" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
